<div class="main-container">
	<form>
		<!-- Input column with bill amount, tip selection, and number of people -->
		<div class="input-fields-container column">
			<app-text-input-with-label-and-icon
				class="colored-borderless-text-input"
				name="bill-amount"
				iconName="fa fa-dollar icon"
				labelText="Bill"
			></app-text-input-with-label-and-icon>

			<div class="tip-selector">
				<p>Select Tip %</p>
				<ng-container *ngFor="let tipPercent of [5, 10, 15, 25, 50]">
					<input
						type="radio"
						name="tip-option"
						id="tip-option-{{tipPercent}}"
						ng-checked="tipPercent == 5"
						value="{{tipPercent}}"
					/>
					<label for="tip-option-{{tipPercent}}">{{ tipPercent }}%</label>
				</ng-container>
				<input
					class="custom-tip"
					type="text"
					placeholder="Custom"
				/><br />
			</div>

			<app-text-input-with-label-and-icon
				class="colored-borderless-text-input"
				name="number-of-people"
				iconName="fa fa-user icon"
				labelText="Number of People"
			></app-text-input-with-label-and-icon>
		</div>

		<!-- Results column with tip amount, total amount, and sumbit/reset button -->
		<div class="results-container column">
			<div class="row">
				<p>
					Tip Amount <span class="big-result-text">$0.00</span>
					<br /><span>/ person</span>
				</p>
			</div>
			<div class="row">
				<p>
					Total <span class="big-result-text">$0.00</span>
					<br /><span>/ person</span>
				</p>
			</div>
			<div class="row">
				<input type="submit" value="RESET" />
			</div>
		</div>
	</form>
</div>
