@mixin curved-container($height, $width, $padding: 0 0, $border: 0, $color) {
    height: $height;
    width: $width;
    min-height: 200px;
    min-width: 200px;
    padding: $padding;
    border-radius: 16px;
    border: $border;
    background-color: $color;
}